<h2>Criar um contato</h2>
<form action="">
    <p>Nome: <input type="text" name="name" [(ngModel)]="contact.name"></p>
    <p>Telefone: <input type="text" name="phone" [(ngModel)]="contact.phone"></p>
    <p><button (click)="createContact()">Criar</button></p>
</form>
<h2>Lista de Contatos</h2>
<hr />
<table>
    <tr>
        <td>ID</td>
        <td>name</td>
        <td>phone</td>
        <td>category</td>
        <td>created at</td>
        <td>modified at</td>
        <td>is active</td>
    </tr>
    <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.category }}</td>
        <td>{{ contact.created_at }}</td>
        <td>{{ contact.modified_at }}</td>
        <td>{{ contact.is_active }}</td>
    </tr>
</table>
