<mat-card>
  <mat-card-title>New contact</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="contact.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone" [(ngModel)]="contact.phone" name="phone">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createContact()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
